.media-library-widget-modal .media-library-item__click-to-select-checkbox {
  float: right;
  z-index: 1;
  display: block;
  margin: 10px;
  position: unset !important;
  top: unset !important;
  left: unset !important;
}

.media-library-widget-modal .media-library-item__click-to-select-checkbox input{
  position: relative !important;
  left: 0 !important;
  margin: 10px !important;
}
